/**{margin:0;}**/
body{background-color: #333;}
.left_head{width: 290px;background-color: #333;height: 200%;padding: 1px;box-shadow: 5px 0px 10px 0px #111;position: fixed;float: left;margin: auto;border-radius:30px;display: block;}
header{width: 100%;margin: auto;}
header>a>img{background-size:100% 100%;width:140px; height: 140px;margin: 80px auto;display: block;box-shadow: 0px 0px 5px #888888;border-radius:100%;transition: all 1s ease-in;}
header>a>img:hover{width: 160px;height: 160px;border-radius: 15%;transition: all 0.5s ease-in;}
hgroup>a{margin:auto;color: #888;text-decoration: none;font-size: 35px;}
hgroup>a:hover{background-color: #000;border-radius: 100px;width: 10%;}
header>p{text-align: center;width: 100%;color: #fff;font-size: 14px;}
.left_head>div{width: 95%;background-color: #222;height: 100px;margin: auto;}
#head_name{color: #999;font-size: 180%;text-align: center;}



#Conent{background-color: #333;box-shadow: 5px 5px 10px 3px #111;float: left;border-radius: 30px;margin-left: 300px;}
.conenttext{width: 95%;margin: auto;background-color: #333;box-shadow: 0px 3px 5px 1px #111;border-radius:200px;margin-top: 20px;margin-bottom: 20px;transition: all 0.5s ease-in;}
.conenttext>p{color: #fff;padding: 50px;}
.conenttext:hover{background-color: #000;border-radius:20px;transition: all 0.5s ease-in;color: #999;width: 98%;}
.footer{float: left;background-color: #333;width: 20%;margin-top: 15px;box-shadow: 0px 5px 10px 2px #111;border-radius: 100px;padding: 10px;margin-bottom: 15px;margin-left: 305px;}
.footer1{float: right;margin-bottom: 2%;}
.footer>p{width: 90%;color: #888;box-shadow: 0px 1px 15px #111;border-radius:40px;text-align: center;margin:auto;margin-top: 15px;margin-bottom: 15px;}
.footer>p:hover{color: #000;background-color: #999;}
/*.footer1>embed{margin-left: 35px;}*/
@media screen and (max-width: 1200px) {
	/*body{background-color: red;}*/
	.footer{width: 70%;float: right;margin-left: 0px;}
}

@media screen and (max-width: 780px) {
	/*body{background-color: red;}*/
	.footer{width: 50%;float: right;margin-left: 0px;}
}
@media screen and (max-width: 520px) {
		*{margin:0;}*
        .left_head{background-color: #333;height: 300px;float: left;position: fixed;display: block;width: 100%;border-radius: 0px;box-shadow: 5px 10px 60px 5px #111}
		header{width: 100%;margin-top: -50px;}
		#head_name{margin-top: -50px};
		header>a>img{width: 20%;height: 20%;}
        #Conent{background-color: #333;width: 98%;float: right;margin-top: 380px;}
        .conenttext{width: 90%;border-radius: 50px;}
        .conenttext>p{padding: 30px;}
        .footer{margin-left: 0px;width: 95%;margin-bottom:80px;}
        .footer1:hover{background-color: #000;color: #999;}
/*        .footer1>embed{margin-left: 35px;}*/
}